<h1>Crea tu Post</h1>

<form method="get" action="create" id="create_post">

    <div class="form-group">
        <label for="title">Titulo</label>
        <input name= "title" type="text" class="form-control" id="title" ariadescribedby="
        emailHelp" placeholder="">
    </div>

    <div class="form-group">
        <label for="content">Contenido</label>
        <textarea name="content" class="form-control"> </textarea>
    </div>

    <div class="form-group">
        <label for="image_url">Imagen</label>
        <input name= "image_url" type="image_url" class="form-control" id="image_url" ariadescribedby="
        emailHelp" placeholder="">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
</form>