<h1>Crea tu Post</h1>

<form method="get" action="create" id="create_post">
    <div>
        <input name="title">
    </div>
    <br>
    <div>
        <input name="content">
    </div>
    <br>
    <div>
        <input name="image_url">
    </div>
    <br>
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>